* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body > header {
    background-color: rgb(229, 226, 226);
    padding: 16px 0;
    color: rgb(52, 50, 50);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: floralwhite;
    text-decoration: none;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /*height: 180px;*/
    width: 100%;
}

.articles article {
    width: 30%;
}

section {
    padding: 16px 0;
}

section h2,
.articles article {
    margin-bottom: 16px;
}

.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8PX;
}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p,
.articles article a {
    font-family: Arial, Helvetica, sans-serif ;

}

.articles article h3 {
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sports {
    background-color: rgba(0, 255, 0, 0,1);
}
#sports .articles article a {
    background-color: rgba(0, 255, 0, 0,8);
    color: 000;
}

#sports .articles article a {
    background-color: rgb(46, 60, 46);
}

#economy {
    background-color: rgb(234, 234, 156);
}

#economy .articles article a {
    background-color: orange;
}

#technology {
    background-color: rgb(41, 247, 185);
}

#technology .articles article a {
    background-color: rgba(0, 106, 34, 0.489);
}

#auto_racing {
    background-color: rgb(87, 235, 255);
}

#auto_racing .articles article a {
    background-color: rgba(47, 49, 149, 0.489);
}

